*{
    margin: 0;
    padding: 0;
}
#espace-etudiant{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:center ;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#espace-title{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 100%;
    font-size: 2em;
    font-weight: 500;
}

#espace-e-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#espace-e-container .content{
    background-color: lightskyblue;
    width:48%;
    height: 6em;
    margin: 0.1em;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#espace-e-container .content img{
    height: 90%;
    width: 90%;
}

#espace-e-container #mtu{
    background-image: url(../to-study-4857779.jpg);
    background-position: center;
    background-size: cover;
}

#espace-e-container #time{
    background-image: url(../calendare.jpg);
    background-position: center;
    background-size: cover;
}

#espace-e-container #moodle{
    background-image: url(../students.jpg);
    background-position: center;
    background-size: cover;
}

#espace-e-container #roseta{
    background-image: url(../languages.jpg);
    background-position: center;
    background-size: cover;
}

#espace-e-container #gmail{
    background-image: url(../Gmail_Logo_512px.png);
    background-position: center;
    background-size: cover;
}


#espace-e-container #concours{
    background-image: url(../concours-img.jpg);
    background-position: center;
    background-size: cover;
}


